<form [formGroup]="formGroup">
  <div class="grid grid-cols-1 h-screen"> <!-- main container with one column -->
    <div class="flex flex-col w-full mx-auto"> <!-- chat area with vertical scroll and no max width -->
      <div class="flex flex-col flex-grow p-4 space-y-4 w-full mx-auto ">
        <mat-toolbar class="flex bg-sky-900 font-semibold text-lg italic text-white rounded-2xl">
          <div class="flex flex-row space-x-4">
            <div>
              <button mat-icon-button class="hover:border-solid border-inherit" (click)="sidenav.toggle()">
                <mat-icon *ngIf="!sidenav.opened" svgIcon="row-right">
                </mat-icon>
                <mat-icon *ngIf="sidenav.opened" svgIcon="row-left">
                </mat-icon>
              </button>
            </div>
            <div class="mt-1.5">
              <span>convo-craze</span>
            </div>
          </div>
        </mat-toolbar>

        <div id="messages"
             class="flex flex-col space-y-4 p-3 overflow-y-auto w-full">

          <ng-container formArrayName="questions">
            <ng-container *ngFor="let questionControl of questions.controls; let index = index">

              <div class="chat-question" *ngIf="questionControl.value.length > 0">
                <div class="flex items-end justify-end">
                  <div class="flex flex-col overflow-y-none spacy-y-2 items-end">
                    <mat-card class="w-full">
                      <span
                        class="rounded-lg p-2 text-white font-semi-bold bg-sky-400">{{questionControl?.value}}</span>
                    </mat-card>
                  </div>
                </div>

                <div class="chat-answer mt-5" *ngIf="answers.controls[index]?.value.length > 0">
                  <div class="flex items-end">
                    <div class="flex flex-col overflow-y-none spacy-y-2 items-start">
                      <mat-card class="w-4/5">
                        <span class="p-2 font-semi-bold">{{answers.controls[index]?.value}}</span>
                      </mat-card>
                    </div>
                  </div>
                </div>

              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>


    <div id="question" class="w-4/5 mx-auto ml-14 mb-4 fixed bottom-0">
      <mat-card class="drop-shadow-2xl">
        <app-question class="mx-1 my-2"
                      [formGroup]="formGroup"
                      [maxLength]="maxLength">
        </app-question>
      </mat-card>
    </div>
  </div>
</form>
